<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Leg Work</title>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
	<h1>hello</h1>
	{{{ body }}}
</body>
</html>
