<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Leg Work</title>
  <!-- Reset Stylesheet-->
	<link href="./css/reset.css" rel="stylesheet" type="text/css">

  <!-- Bringing in frameworks -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

	<!-- Bringing in stylesheets -->
	<link rel="stylesheet" href="./css/style.css" type="text/css">

	<!-- Bringing in fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800|Open+Sans:400,600,700" rel="stylesheet">

	<!-- Bringing in script -->
	<script src="https://code.jquery.com/jquery.js"></script>

</head>
<body>


	{{{ body }}}
</body>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/signup.js"></script>
  <script type="text/javascript" src="js/login.js"></script>
  <script type="text/javascript" src="./js/main.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
