 <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Company Form</h2>
        <form class="compInput">
          <div class="form-group">
            <label for="exampleCompName">Company Name</label>
            <input type="comp-name" class="form-control" id="comp-name-input" placeholder="Company Name">
          </div>
          <div class="form-group">
            <label for="exampleCompWebsite">Website</label>
            <input type="comp-website" class="form-control" id="comp-website-input" placeholder="Company Website URL">
          </div>
          <label for="exampleCompCulture">Culture</label>
            <input type="comp-culture" class="form-control" id="comp-culture-input" placeholder="Company Culture">
          </div>
          <label for="exampleCompBenefits">Benefits</label>
            <input type="comp-benefits" class="form-control" id="comp-benefits-input" placeholder="Company Benefits">
          </div>
          <div>
             <label for="exampleCompNotes">Notes</label>
              <textarea type="message" class="form-control" id="comp-notes-input" placeholder="Your notes here."></textarea>
          </div>
          
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <br />
        <p>Or return to Applications table here <a href="/members">here</a></p>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/compinput.js"></script>