
<!-- //Login -->
  <div class="wrapper">


  <div class="loginBox signupWrapper" id="loginBox">
    <div class="container logincont">
        <form class="login" action="/" method="POST">
          <div class="form-group">
            <label class ="signupLabels" for="exampleInputEmail1">Email Address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label class ="signupLabels" for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <div class = "btn-div">
          <button type="submit" class="btn btn-secondary">Login</button>
        </div>

          <p class="register" > Sign Up <a href="/">Here</a></p>
        </form>
    </div>
  </div>
</div>

<!-- //Video -->
<video autoplay loop id="video-background" muted plays-inline>
  <source src="./assets/images/extradiv.mov">
</video>
