<!--- STYLE----------------------------------------------------->
    <style>
  #chart{
    width: 800px;
    height: 400px;
    background-color: #f7f7f7;
    margin: 25px auto;
}
.bar{
    display: inline-block;
    width: 25px;
    height:300px;
    background-color: green;
    margin-right: 5px;
}
    </style>

<!--- HTML----------------------------------------------------->

    <div id="chart"></div>

<!--- JS----------------------------------------------------->
    <script src="https://d3js.org/d3.v4.js"></script>
    <script>

var dates=[];
var counts=[];
var index= 0;

//Retrieve data and organize it into array of dates and the number of applications on that date
        
$.get("/api/piechart", function(data) {
//console.log(data[0].date, "HERE IT IS");
for(var i=0; i< data.length; i++){
//    console.log(data[i].date)
    if(dates.includes(data[i].date)){
        index = dates.indexOf(data[i].date);
        ++counts[index]
    }
    else{
        dates.push(data[i].date);
        counts.push(1);
    }
}
});
   
// Create SVG Element
var chart_width     =   800;
var chart_height    =   400;
var bar_padding     =   5;
var svg             =   d3.select( '#chart' )
    .append( 'svg' )
    .attr( 'width', chart_width )
    .attr( 'height', chart_height );
       
// Bind Data and create bars
 
svg.selectAll( 'rect' )
    .data( counts )
    .enter()
    .append( 'rect' )
    .attr('class', 'bar');
//    .attr( 'x', function( d, i ){
//        return i * ( chart_width / counts.length ); // 0 - 0, 1 - 40, 2, 80
//    })
//    .attr( 'y', function(d ){
//        return chart_height - d * 5;
//    })
//    .attr( 'width', chart_width / counts.length - bar_padding )
//    .attr( 'height', function( d ){
//        return d * 5;
//    })
//    .attr( 'fill', '#7ED26D' );


    </script>

