
<body class="signUp">
  <div class="splash fade-in">
    <a href="#" class="splash-arrow fade-in"><img src="./assets/images/down-arrow.png" alt=""/></a>
  </div>
<article>
  <!-- //SIGN UP -->
  <center>
      <div class="loginBox" id="loginBox">
        <div class="container">
        <form class="signup">
          <div class="form-group">
          <label for="exampleInputUsername">Username</label>
             <input type="username" class="form-control" id= "username-input" placeholder="username">
           </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email-input" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-secondary">Sign Up</button>
        <hr>
        <p> Already Registered? Login <a href="/login"> Here</a></p>
      </form>
      </div>
    </div>
  </div>
</article>
<!-- //Video -->
<video autoplay loop id="video-background" muted plays-inline>
  <source src="./assets/images/login.mov">
</video>
