/*=============================
fonts:
font-family: 'Montserrat', sans-serif;
font-weight:300,400,500,700,800;
font-family: 'Open Sans', sans-serif;
font-weight: 400, 600, 700;

colors:
dark green: #32463b;
medium green: #39815d;
light green: #9bbe69;
medium blue: #449284;
  hover: #4CA394;
  shadow: #2E635A;
light blue: #c8ded6;

===============================*/

/*====== Universal Styles ==========*/

body, html{
    font-family:'Open Sans', sans-serif;
    background-color:#eeeeee;
    color:#222222;
    font-size:16px;
}
a{
    font-weight:600;
    color: #9bbe69;
    text-decoration:none;
}
  a:hover{
    color: #39815d;
    text-decoration: none;
  }
p{
    font-size:1em;

}
h1, h2, h3, h4{
  font-family:'Montserrat', sans-serif;
}
h1{
   font-size:1.4em;
   font-weight: 700;
}
h2{
    font-size:1.2em;
    font-weight: 700;
}
.btn{
    background-color: #449284;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2.5;
    text-align: center;
    box-shadow: 2px 2px 0px #2E635A;
    height: 2.5em;
    width: 30%;
    display: block;
    border:none;
}
    .btn:hover{
        background-color: #4CA394;
    }
.input-btn{
  background-color: #32463b;
  color: #fff;
  font-weight: 600;
  line-height: 2.5;
  text-align: center;
  height: 2.5em;
  width: 20%;
  display: block;
  border:none;
  font-size: 0.75em;
}
  .input-btn:hover{
      background-color: #39815d;
  }
/*====== Members Page ==========*/
nav{
    background-color: #333333;
    align-items: left;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.row #nav-container{
  width:100%;
  background-color: #333333;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  padding:0;
  width:100%;
}
nav ul li ul li a{
        width:10%;
        color: #eeeeee;
        background-color:#333333;
        border:none;
        margin-right: 10px;
        margin-left: 15px;
    }
    .col-lg-12{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left:20px;
        width:100%;
        margin-bottom: 0;
    }
.menu-items{
  display: flex;
  flex-direction: row;
}
.nav-items{
  color:#eeeeee;
  font-size: 2em;
  width: 20%;
  margin: 20px;
  font-weight: 700;
}
  .nav-items:hover{
    text-decoration: none;
    color:#eeeeee;
  }
.nav-link{
  float: right;
  color:#808080;
}
  .nav-link:hover{
    text-decoration: none;
    color:#eeeeee;
  }

.mininav{
  background-color: #c8ded6;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.minititle{
}
